<h2> Cost </h2>
<form>
			<input type="hidden" name="referrer">
	Name:		<input type="text" fieldName="name" name="name">
	Group Size:	<input type="text" name="groupSize">
	E-mail:		<input type="email" name="email">
			<input type="submit" value="Submit">
</form>
<script>
	$(document).ready(function(){
		$('input[name="referrer"]').val(document.referrer);
	});
</script>
